*{
    margin: 0;
    padding: 0;
    font-family: arial;
}
#container{
    width: 1050px;
    height: 616px;
    margin: 0 auto;
}
#banner{
    width: 80%;
    height: 187px;
    background: black;
    color: white;
}
#imagem{
    width: 100%;
    height: 187px;
    margin: 0 auto;
}
#link{
    width: 250px;
    height: 800px;
    background: red;
    margin-left: px;   
}
#texto{
    width: 630px;
    height: 800px;
    margin-top: -800px;
    margin-left: 210px;
    background: blue;
}
#Video{
    margin-top: 40px;
    margin-left: 15%;
}
#footer{
    width: 79.5%;
    height: 50px;
    margin: 0 auto 200;
    text-align: center;
    border: solid;
    color: rgba(133, 20, 20, 0.658);

}